/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap'); */

*
{
    outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
    font-family: 'Courier New', Courier, monospace;
}

.card
{
    position: relative;
    width: 90vh;
    height: 35vh;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 75px auto;
}

.header
{
    background-color: olivedrab;
    width: inherit;
    height: 30%;
}

.userIcon
{
    height: 85px;
}

.mapIcon, .gearIcon
{
    height: 20px;
}

.cityName
{
    font-weight: bold;
    font-size: 20px;
}

.position
{
    position: relative;
    top: -15%;
    left: 20px;
}
