

*
{
    outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
    font-family: 'Courier New', Courier, monospace;
}

body
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vh;
}

.card
{
    width: 90vh;
    height: 35vh;
    border: 2px solid grey;
    border-radius: 5px;
}

.header
{
    background-color: olivedrab;
    width: inherit;
    height: 30%;
}

.userIcon
{
    height: 85px;
}

.mapIcon, .gearIcon
{
    height: 20px;
}

.cityName
{
    font-weight: bold;
    font-size: 20px;
}

.position
{
    position: relative;
    top: -15%;
    left: 3%;
    padding-top: 5px;
}